.blue {
    color: #1b91ff;
}
.red {
    color: #ff2c2d;
}
.green {
    color: #17ff2e;
}

.twocols {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.font80 {
    font-size: 80% !important;
}

